/* -- pages About --*/
.about-project{
  margin: 6em 0;
}
.subtitle1
{
    font-size: 2em;
    font-family: 'Noto Sans Japanese';
    color:#263468;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    margin-top: 2em;;
}

.subtitle2{
    font-size: 2em;
    font-family: 'Noto Sans Japanese';
    color:pink;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #aaa;
    padding-bottom: 14px;
}

.subtitle3{
    font-size: 2em;
    font-family: 'Shippori Mincho';
    color:palegreen;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #aaa;
    padding-bottom: 14px;
}

/* sub contents　タイトル*/
.subtitle4 {
    font-size: 1.2em;
    font-family: 'Shippori Mincho';
    color:rgb(13, 84, 13);
    font-weight: bold;
    text-align: left;
    margin: 24px;
}

.self-wrap{
    display: flex;
    padding:1.4em 0 0 0;
}

.self-wrap:last-child{
  margin-bottom:4em;
}

.self-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin:0  8px;
    width: 400px;
    background-color: #03a9f4;
    border-radius: 24px;
    color: #ccc;
}

.self-items2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin:0  8px;
    width: 800px;
    background-color: #03a9f4;
    border-radius: 0.5em;
    color: #ccc;
}

.self-items3{
    display: flex;
    flex-direction: column; /* 縦に並べる*/
    margin:0 0 0 1em;
    width: 30%;
    background-color: #f46303;
    border-radius: 0.5em;
    color: #ccc;
    padding:1em;
}

.self-items4{
  display: flex;
    flex-direction: column; /* 縦に並べる*/
    margin:0 1em 0 0;
    width: 30%;
    background-color: #65700fe8;
    border-radius: 0.5em;
    color: #ccc;
    padding:1em;
}

.self-items5{
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    border-bottom: 2px solid #ccc;
    margin:10px;
    width: 100%;
}

.self-history{
  display: flex;
  background: none;
  justify-content: center;
  align-items: center;
}

.self-history-items{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  background-color: #b000b0;
  border-radius: 0.5em;
  color: #ccc;
  margin: 0 1em;
  padding: 0 2em;
}

.about-items{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 400px;
  background-color: #012c40;
  border-radius: 0.5em;
  color: #ccc;
  padding-left: 0.5em;
  margin: 0 1em;
}

.about-items:last-child{margin:0}

.output-items{
  display: flex;
    justify-content: center;
    align-items: center;
    margin:0  8px;
    background-color: #350155;
    border-radius: 24px;
    color: #ccc;
    padding :0.5em;
    width: 12em;
}

.about-box{
  background: #5f5f5f;
  border-radius: 0.5em;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 70%;
  padding:1em;

}

.about-sub-title{
  font-weight: bold;
  text-align: left;
  color:#ccc;
  width: 100%;
}

.about-box-list{
  text-align: left;
  color: #e7e7e7;
}

.about-txt{
  margin-bottom: 4em;
  margin-left: 1em;
  text-align: left;
  line-height: 1.6em;
  margin-top:1em;
}


/*Projects*/
.project-item{
  margin: 6em 0;
}

.frame-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    margin:0  8px;
    border-radius: 24px;
    border:1px solid #ddd; 
    background:#fff;
}

.cardList_thumb{
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    width: 100%;
}
.cardList_title{
    text-align: center;
    color: #006e60;
    padding-bottom: 10px;
    width: 100%;
}

p{
    font-size: .9375rem;
    line-height: 1.7;
    text-align: left;
}


.history{
font-size: 1.4em;
}
  ul.list-history  {
    list-style: none;
    text-align: left;
    margin-left:2em;
    margin-top:1em;
    font-size: 0.8em;
  }
  li.list-history-items{
    position: relative;
    text-align: left;
    line-height: 2em;
    list-style-type: disc;
    margin-left:2em;
  }


/*Footer*/

.footer{
    margin-top: 15px;
    height: 30px;
    width: 100%;
}


ul.footer-list {
    display: flex;
    justify-content: flex-start;
    width: 98%;
    padding:2%;
    border-top:1px solid #aaa;
}

ul.footer-list li{
    margin-right: 10px;
}

ul.footer-list li:nth-of-type(2) {
    margin-left: auto;
}

ul.footer-list li:nth-of-type(5) {
  border:1px solid green;
  padding:10px;
  border-radius: 100px;
}

.footer-font{
    font-family: 'M PLUS 1p';
    font-weight:100;
}

.footer-font2{
    font-family: 'Shippori Mincho', sans-serif;
    color:rgb(5, 94, 24);
}

.copyright{
  color:green;
  font-size: small;
  margin:2%;
}

.green{
color: green;
}

/*Header */
.title{
    width:100%;
    padding:2%;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    color: #212121;
   }
   .title a{
    color: #212121;
   }
   .title a:hover{
    color: #212121;
    border-bottom: 1px dashed #ccc;
   }
   
   .nav{
     width: 100%;
   }
   
   ul.header-list {
     display: flex;
     justify-content: flex-start;
     width: 100%;
     padding:2% 0 0 2%;
   }
   
   ul.header-list li{
     margin-right: 10px;
   }
  

   ul.header-list .btn-contact {
    margin-left: auto;
     padding:0.5em 2em;
     font-weight: bold;
     font-size: 1em;
   }

   .header-list .btn-contact a{
    color: #646cff;
    padding:0.5em 2em;
    border-bottom:none;
   }

   .header-list .btn-contact a:hover{
    background-color:#3399CC ;
   }

   .header-list a{
    color: #646cff;
    padding:0.5em 2em;
    border-bottom:1px solid #3399CC;
   }

   .header-list a:hover{
    background-color:#3399CC;
    color: #fff;
    border-radius: 2em;
    }

  


  /* Skills */

  .cv-skills{
        color:rgb(67, 67, 3);
  }

  .self-items5 p{text-align: center; width: 100%;}

  /* CV */
  
  ul.cv-list {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding:2% 2% 0 2%;
    text-align: left;
  }
  ul.cv-list:nth-of-type(1) { 
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: #3f3f3f;
  }

  ul.cv-list:last-child { 
    margin-bottom: 4em;
  }

  ul.cv-list{ 
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding:0 2% 2%;
    
  }

  .cv-list li{
    line-height: 1.4;
    vertical-align: middle;
    border-bottom:1px dashed #b2b2b2 ;
    display:flex;
    align-items: center;
  }

  li.list-short-text{
    margin-right: 2em;
    width: 30%;
  }
  
  li.list-long-text{
    min-width: 40%;
  }

  ul.cv-sub-list{
    padding:0;
  }
  .cv-sub-list li {
    line-height: 1.2;
    border-bottom: #212121;
  }

  .education{
    color: cadetblue;
  }

  .certs{
    color: #6f5fa0;
  }

  .skills{
    color:#a05f83;
  }

  .other{
    color:#a0895f;
  }
  .workexperience{
    color:#69a05f;
  }

  /* common */
  .bold {
    font:bold;
  }

  .skill-name{
    font-weight: bold;
  }
/* font-awsome用*/
  
  .fa{
    margin-right: 1em;}
